{% extends 'shortener/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="section">
        <form action="" method="post">
            {% csrf_token %}

            <div class="row">
                <div class="col s12 m10">
                    {{ form.full|as_crispy_field }}
                </div>
                <div class="col s12 m2">
                    <button type="submit" class="waves-effect waves-light btn-large">
                        Shrink
                    </button>
                </div>
            </div>
        </form>
    </div>


    {% if messages %}
        {% for message in messages %}
            <div class="materialert {{ message.tags }}">
                <div class="material-icons">check</div>
                {{ message.message|safe }}
            </div>
        {% endfor %}
    {% endif %}


    <div class="section">
        <table class="responsive-table striped">
            <thead>
                <tr>
                    <th>Full URL</th>
                    <th>Short URL</th>
                    <th>Clicks</th>
                </tr>
            </thead>
            <tbody>
                {% for url in object_list %}
                    <tr>
                        <td>
                            <a target="_blank" href="{{ url.full }}">
                                {{ url.full|truncatechars:100 }}
                            </a>
                        </td>
                        <td>
                            <a target="_blank" href="{{ url.get_absolute_url }}">
                                {{ url.short }}
                            </a>
                        </td>
                        <td>{{ url.clicks }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% include 'shortener/pagination.html' %}
{% endblock %}